# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
/TGVEModuleSuite/nbproject/private/
/TGVEModuleSuite/TGVEMultiview/build/
/TGVEModuleSuite/build/
/TGVEModuleSuite/TGVEMultiview/nbproject/private/
/JavaApplication5/nbproject/private/
/TGVEModuleSuite/TgveFileType/build/
/TGVEModuleSuite/tonegod.gui/build/
/TGVEModuleSuite/tonegod.gui/nbproject/private/