<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        Create a new ToneGod GUI for JME3<br/>
        <UL>
            <li>Work with it visually.</li>
            <li>Supply code hooks</li>
            <li>Choose Generate to Deploy a Java or J3O file.</li>
        </UL>
        
    </body>
</html>
